In [1]:
import pandas as pd

In [2]:
data = {
    "Nom de la Colonne": ["title", "price","location", "type_de_vente", "salon", "chamber", "toilete","area","link"],
    "Description": [
        "le titre de l annonce",
        "prix",
        "localisation de l appartement",
        "louer ou vendre",
        "nombre de salon",
        "nombre de chamber",
        "nombre de toilete",
        "la surface de l appratement",
        "le lien de l annonce"
    ],
    "Type de Données": ["object", "object", "object", "object", "float64", "float64","float64","float64","object"],
    "Exemple(s) de Valeurs": ["appartement à louer à Temara", "300 DH", "Meknès", "Appartements, à vendre", "2", "4","1","400","https://www.avito.ma/vi/55593495.htm"],
    "Valeurs Uniques / Catégories": ["NaN", "NaN", "NaN", "NaN", "NaN", "NaN", "NaN","NaN","NaN",]
}


catalogue_df = pd.DataFrame(data)

In [3]:
catalogue_df

,Nom de la Colonne,Description,Type de Données,Exemple(s) de Valeurs,Valeurs Uniques / Catégories
0,title,le titre de l annonce,object,appartement à louer à Temara,NaN
1,price,prix,object,300 DH,NaN
2,location,localisation de l appartement,object,Meknès,NaN
3,type_de_vente,louer ou vendre,object,"Appartements, à vendre",NaN
4,salon,nombre de salon,float64,2,NaN
5,chamber,nombre de chamber,float64,4,NaN
6,toilete,nombre de toilete,float64,1,NaN
7,area,la surface de l appratement,float64,400,NaN
8,link,le lien de l annonce,object,https://www.avito.ma/vi/55593495.htm,NaN

In [ ]:
catalogue_df.to_csv("catalogue_donnees.csv", index=False)

print("Le catalogue de données a été sauvegardé dans le fichier 'catalogue_donnees.csv'.")

Le catalogue de données a été sauvegardé dans le fichier 'catalogue_donnees.csv'.